# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore Stuff
cmake-build-debug/
valgrind*
.idea/
*.pdf
*.sh

Cultural/
HW/
Template/
Labs/
Exam*/
Google_tests/
*.DS_Store
*.exe
*.pem
CMakeLists.txt